<%# モーダル本体のテンプレート %>

<% 
# パラメータがない場合は空文字にする
title  = "" unless title
icon   = "" unless icon
border = "" unless border
link   = "" unless link
method = "" unless method
%>

<a href="<%= link %>" class="p-3 my-1 hover:bg-gray-100 flex items-center text-xs text-gray-500 <%= border %>" data-turbolinks="false" data-method="<%= method %>">
    <i class="fa <%= icon %> mr-3 inline-block w-2"></i>
    <span><%= title %></span>
</a>