<%= render "layouts/header" %>

<div class="py-8 px-12 relative bg-gray-100 flex justify-center">
    <div class="bg-white w-768px mr-4 p-8">
        <div class="flex items-center mb-6">
            <a href="<%= user_path(@article.user) %>" data-turbolinks="false" class="flex">
                <% if @article.user.profile.icon == nil %>
                    <i class="fas fa-user text-gray-600 rounded-full bg-gray-200 flex justify-center items-center w-8 h-8 mr-2"></i>
                <% else %>
                    <img src="<%= @article.user.profile.icon %>" class="w-8 h-8 object-cover rounded-full inline-block mr-2">
                <% end %>
                <div class="mr-4 hover:underline font-18px" data-turbolinks="false">@<%= @article.user.name %></div>
            </a>
            <span class="text-gray-500 text-sm flex items-center"><%= @article.created_at.strftime('%Y年%m月%d日') %>に投稿</span>
        </div>
        <div class="font-bold font-40px mb-4"><%= @article.title %></div>
        <div class="mb-12">
            <% @article.tag_articles.ids.each do |t| %>
                <a href="/" class="text-sm hover:underline text-gray-600 px-2 py-1 bg-gray-200 rounded mr-1" data-turbolinks="false">
                    <%=Tag.find(TagArticle.find(t).tag_id).name%>
                </a>
            <% end %>
        </div>
        <div id="preview">
            <%= @article.body %>
        </div>
    </div>
    <%= render "layouts/advertisement" %>
</div>



<script>
$(()=>{
    marked.setOptions({
        breaks: true,
        langPrefix: '',
        highlight: function (code, lang) {
        return hljs.highlightAuto(code, [lang]).value
        }
    })
    $('#preview').html(marked($('#preview').html()))
})
</script>