<%# コミュニティボタンを押すと表示されるモーダル %>

<% modal_id = 2 %>

<div class="hidden modal<%= modal_id %> bg-white absolute z-10 top-9 -left-20 cursor-pointer rounded-sm shadow w-56">
    <%= render "layouts/header/modals/contents/body"  , {title:"Organization一覧", icon:"fa-building"} %>
    <%= render "layouts/header/modals/contents/body"  , {title:"アドベントカレンダー", icon:"fa-calendar-alt", border:"border-b"} %>
    <%= render "layouts/header/modals/contents/body"  , {title:"Kiita Jobs", icon:"fa-search"} %>
    <%= render "layouts/header/modals/contents/body"  , {title:"Kiitadon(β)", icon:"fa-comments"} %>
    <%= render "layouts/header/modals/contents/body"  , {title:"Kiita zine", icon:"fa-newspaper", border:"border-b"} %>
    <%= render "layouts/header/modals/contents/body"  , {title:"コミュニティガイドライン", icon:"fa-book"} %>
    <%= render "layouts/header/modals/contents/body"  , {title:"良い記事を書くために", icon:"fa-book"} %>
    <%= render "layouts/header/modals/contents/body"  , {title:"リリースノート", icon:"fa-book"} %>
</div>