<%# ユーザーアイコンを押すと表示されるモーダル %>

<% modal_id = 4 %>

<div class="hidden modal<%= modal_id %> bg-white absolute z-10 top-9 -left-20 cursor-pointer rounded-sm shadow w-56">
    <%= render "layouts/header/modals/contents/body"  , {title:"マイページ", border:"border-b"} %>
    <%= render "layouts/header/modals/contents/body"  , {title:"下書き一覧"} %>
    <%= render "layouts/header/modals/contents/body"  , {title:"限定共有記事一覧"} %>
    <%= render "layouts/header/modals/contents/body"  , {title:"編集リクエスト一覧", border:"border-b"} %>
    <%= render "layouts/header/modals/contents/body"  , {title:"設定"} %>
    <%= render "layouts/header/modals/contents/body"  , {title:"Jobsプロフィール"} %>
    <%= render "layouts/header/modals/contents/body"  , {title:"ヘルプ", border:"border-b"} %>
    <%= render "layouts/header/modals/contents/body"  , {title:"ログアウト"} %>
</div>