<%
periods = [
    {title: "1日", link: "/"              , params: nil},
    {title: "週間", link: "/?scope=weekly" , params: "weekly"},
    {title: "月間", link: "/?scope=monthly", params: "monthly"}]
%>

<div class="bg-white w-144 mr-4">
    <div class="px-4 pt-4 border-b-2 text-gray-600">
        <i class="fas fa-chart-line fa-lg"></i>
        <span class="px-1">トレンド</span>
        <span class="text-xs text-gray-400">
            <% case params[:scope]%>
            <% when "weekly"  then %>
                最近1週間の人気の記事を毎週月曜/木曜日に更新
            <% when "monthly" then %>
                最近1ヶ月の人気の記事を毎月1日/15日に更新
            <% else %>
                最近人気の記事を毎日5時/17時に更新
            <% end %>
        </span>
        <div class="flex mt-4 text-sm text-gray-500">
            <% periods.each do |p|%>
                <a href="<%=p[:link]%>" class="period px-4 cursor-pointer pb-2 mx-1 <%= "period-active" if params[:scope] == p[:params] %>" data-turbolinks="false"><%=p[:title]%></a>
            <% end %>
        </div>
    </div>
    <% Article.all.each do |a| %>
        <div class="p-4 border-b">
            <div class="text-sm mb-1 flex">
                <a href="<%= user_path(a.user) %>" data-turbolinks="false" class="flex">
                    <% if a.user.profile.icon == nil %>
                        <i class="fas fa-user text-xs text-gray-600 rounded-full bg-gray-200 flex justify-center items-center w-5 h-5"></i>
                    <% else %>
                        <img src="<%= a.user.profile.icon %>" class="w-5 h-5 object-cover rounded-full inline-block">
                    <% end %>
                    <div class="mx-1 hover:underline" data-turbolinks="false">@<%= a.user.name %></div>
                </a>
                <span class="text-gray-500">が<%= a.created_at.strftime('%Y年%m月%d日') %>に投稿</span>
            </div>
            <a href="<%= article_path(a.id) %>" class="hover:underline font-bold text-lg" data-turbolinks="false"><%=a[:title]%></a>
            <div class="text-gray-600">
                <i class="fas fa-tags text-xs"></i>
                <% a.tag_articles.ids.each.with_index do |t, i| %>
                    <%= link_to tag_search_articles_path(value: Tag.find(TagArticle.find(t).tag_id).name), class: "text-sm hover:underline", turbolinks: false do %>
                        <%= Tag.find(TagArticle.find(t).tag_id).name %><% unless i == a.tag_articles.ids.length - 1 %>,<%end%>
                    <% end %>
                <% end %>
            </div>
            <div class="text-center flex items-center mt-1">
                <div class="text-sm font-sans font-extrabold text-gray-500 w-6 cursor-default">
                    <div class="h-3 tracking-widest">LG</div>
                    <div>TM</div>
                </div>
                <span class="text-sm ml-2 text-gray-700">0</span>
            </div>
        </div>
    <% end %>
</div>