<header class="px-12 bg-qiita text-white" signed="<%= @signed %>">
    <div class="my-0 mx-auto h-14 mw-1088 flex justify-between">
        <%= render "layouts/header/left" %>
        <% if @signed %>
            <%= render "layouts/header/right" %>
        <% end %>
    </div>
    <% unless @signed %>
        <div class="flex h-full-56px justify-center items-center mx-6">
            <div class="w-5/12">
                <div class="font-48px font-bold pb-6">How developers code is here.</div>
                <div>Kiitaは、エンジニアリングに関する知識を記録・共有するためのサービスです。コードを書いていて気づいたことや、自分がハマったあの仕様について、他のエンジニアと知見を共有しましょう ;)</div>
            </div>
            <div class="flex">
                <div class="w-200px"></div>
                <div class="w-330px">
                    <div class="flex justify-between">
                        <% @classes_sns_button = "bg-white hover:bg-gray-100 text-gray-700 px-4 py-2 font-14px rounded cursor-default" %>
                        <span class="<%= @classes_sns_button %>"><i class="fab fa-github pr-1"></i>GitHub</span>
                        <span class="<%= @classes_sns_button %>"><i class="fab fa-twitter pr-1" style="color: #4AA0EB;"></i>Twitter</span>
                        <span class="<%= @classes_sns_button %>"><i class="fab fa-google pr-1" style="color: #D95040;"></i>Google</span>
                    </div>
                    <div class="flex justify-center text-sm pt-2">OR</div>
                    <% @classes_form = "w-full rounded shadow-inner p-3 my-2 text-gray-700 text-sm" %>
                    <% @classes_label = "absolute w-100px h-40px flex justify-end items-center -left-100px mt-10px text-xs" %>
                    <%= form_with model: User.new, url: user_registration_path, class: "relative", id: "user_form" do |f| %>
                        <%= f.fields_for :profile do |p| %>
                            <%= p.label :nickname, "ユーザー名", class: @classes_label %>
                            <%= p.text_field :nickname, placeholder: "kiitan", class: @classes_form %>
                        <% end %>
                        <%= f.label :email, "メールアドレス", class: @classes_label %>
                        <%= f.email_field :email, autocomplete: "email", placeholder: "kiitan@kiita.com", class: @classes_form %>
                        <%= f.label :password, "パスワード", class: @classes_label %>
                        <%= f.password_field :password, autocomplete: "new-password", placeholder: "********", class: @classes_form %>
                        <div class="font-10px mb-4">8文字以上、英・数・記号が使えます</div>
                        <% @classes_checkbox = "text-xs flex items-center mb-2" %>
                        <div class="<%= @classes_checkbox %>">
                            <input type="checkbox", id="accept_terms", class="mr-1">
                            <a href="" style="color: blue;">利用規約</a>に同意する
                        </div>
                        <div class="<%= @classes_checkbox %>">
                            <input type="checkbox", id="accept_policy", class="mr-1">
                            <a href="" style="color: blue;">プライバシーポリシー</a>に同意する
                        </div>
                        <%= f.submit "登録 / ログイン", id: "user_submit", class: "mt-4 bg-opacity-0 border-2 rounded text-white font-14px w-120px flex justify-center py-2 cursor-pointer" %>
                    <% end %>
                </div>
            </div>
        </div>
    <% end %>
</header>

<style>
.h-full-56px{
    height: calc(100% - 56px);
}
.-left-100px {
    left: -110px;
}
.mt-10px {
    margin-top: 10px;
}
.bg-opacity-0 {
    background-color: rgba(255,255,255,0);
}
.bg-opacity-0:hover {
    background-color: rgba(255,255,255,.2);
}
</style>

<script>
    // ログイン状態でヘッダーの表示を切り替える
    // スタイルはarticles.scssを参照
    $(()=>{
        if($('header').attr('signed') == 'false'){
            $('header').addClass('signed_false')
        }
        // 必要な情報が入力されていない場合にアラートを出して処理を中止する
        const alertForm = function(e,message){
            e.preventDefault()
            alert(message)
        }
        $(document).on('click', '#user_submit', function(e){
            if($('#user_profile_nickname').val() == ""){
                alertForm(e,'ユーザー名を入力して下さい')
            } else if($('#user_email').val() == "") {
                alertForm(e,'メールアドレスを入力して下さい')
            } else if($('#user_password').val() == "") {
                alertForm(e,'パスワードを入力して下さい')
            } else if(!$('#accept_terms').prop('checked')) {
                alertForm(e,'利用規約に同意する必要があります')
            } else if(!$('#accept_policy').prop('checked')) {
                alertForm(e,'プライバシーポリシーに同意する必要があります')
            }
        })
    })
</script>
