<%
contents_article = [
    {class: "fa-chart-line"    , title: "トレンド"        , action: ""},
    {class: "fa-users"         , title: "タイムライン"     , action: "timeline"},
    {class: "fa-tag"           , title: "タグ"           , action: "tags"},
    {class: "fa-flag-checkered", title: "マイルストーン"   , action: "milestone"},
    {class: "fa-calendar"      , title: "カレンダーフィード", action: "calendarfeed"}
]
contents_question = [
    {class: "fa-chart-line"       , title: "トレンド"   , action: "index"},
    {class: "fa-users"            , title: "タイムライン", action: "timeline"},
    {class: "fa-tag"              , title: "タグ"      , action: "tags"},
    {class: "fa-question"         , title: "回答募集中" , action: "question"},
    {class: "fa-sort-numeric-down", title: "新着"      , action: "news"}
]
classes_content = "block text-gray-400 hover:bg-gray-200 cursor-pointer h-8 rounded-l leading-8 pl-4 mb-2"
%>

<div class="w-52 sticky inset-0 text-xs font-bold">
    <div class="mb-2">
        <div class="mb-2">記事フィード</div>
        <% contents_article.each do |c|%>
            <% isActive = controller_name == "articles" && action_name == c[:action] || controller_name == "articles" && action_name ==  "index" && c[:action] == "" %>
            <a href="/<%= c[:action] %>" class="<%= classes_content %> <%= "active" if isActive %>">
                <i class="fas <%= c[:class]%> inline-block w-6" data-turbolinks="false"></i>
                <%=c[:title]%>
            </a>
        <% end %>
    </div>
    <div class="border-b-2 mb-2"></div>
    <div class="mb-2">
        <div class="mb-2">質問フィード</div>
        <% contents_question.each do |c|%>
            <% isActive = controller_name == "questions" && action_name == c[:action] %>
            <a href="/questions/<%= c[:action] %>" class="<%= classes_content %> <%= "active" if isActive %>">
                <i class="fas <%=c[:class]%> inline-block w-6" data-turbolinks="false"></i>
                <%=c[:title]%>
            </a>
        <% end %>
    </div>
</div>

<style>
    .active{
        color: #FFF;
        background: #55C500;
        font-weight: normal;
    }
    .active:hover{
        background: #33A300;
    }
</style>

