<%# 呼び出し元: app/views/articles/templates/_newHeader.html.erb %>
<i class="<%= className %> newModalIcon<%= modalId %> cursor-pointer ml-3"></i>
<div class="newModal<%= modalId %> h-4 w-<%= width %> text-white bg-gray-500 text-11px absolute -top-6 text-center rounded leading-4 hidden"><%= text %></div>
