<%# 呼び出し元: app/views/articles/templates/_newEditTemplate.html.erb %>
<footer class="w-full h-12 bg-gray-200 text-white flex justify-end items-center border-t text-sm relative">
    <button class="bg-qiita px-3 py-2 mr-1">
        <%= render "articles/templates/newSubmitTitle", id: 1, icon: "fa fa-save"  , text: "下書き保存" %>
        <%= render "articles/templates/newSubmitTitle", id: 2, icon: "fa fa-lock"  , text: "限定共有投稿" %>
        <%= render "articles/templates/newSubmitTitle", id: 3, icon: "fa fa-upload", text: "Kiitaに投稿" %>
    </button>
    <div id="newSelect" class="absolute bg-white -top-28 right-4 text-gray-700 border-qiita-3 rounded hidden">
        <% if action_name === "new" %>
            <%= render "articles/templates/newSelect", id: 1, icon: "fa fa-save"  , text: "下書き保存"  , action: "draft" %>
            <%= render "articles/templates/newSelect", id: 2, icon: "fa fa-lock"  , text: "限定共有投稿", action: "locked" %>
            <%= render "articles/templates/newSelect", id: 3, icon: "fa fa-upload", text: "Kiitaに投稿", action: "/articles" %>
        <% elsif action_name === "edit" %>
            <%= render "articles/templates/newSelect", id: 1, icon: "fa fa-save"  , text: "下書き保存"  , action: "/articles/" + @article.id.to_s %>
            <%= render "articles/templates/newSelect", id: 2, icon: "fa fa-lock"  , text: "限定共有投稿", action: "locked" %>
            <%= render "articles/templates/newSelect", id: 3, icon: "fa fa-upload", text: "Kiitaに投稿", action: "/articles/" + @article.id.to_s + "/draft_to_article" %>
        <% end %>
    </div>
    <div id="newSelectButton" class="bg-qiita px-2 py-2 mr-4 cursor-pointer"><i class="fa fa-caret-up"></i></div>
</footer>