<%# 呼び出し元: app/views/articles/templates/_newFooter.html.erb %>
<div id="newSelectCheck<%= id %>" index="<%= id %>" class="newSelectCheck cursor-pointer py-2 pl-2 pr-3" action="<%= action %>">
    <i class="fa fa-check fa-xs opacity-0"></i>
    <i class="<%= icon %> w-4 text-center"></i>
    <span class="newSelectText"><%= text %></span>
</div>