<div class="flex justify-center w-full mt-6">
    <div class="mr-6" style="width: 728px;">
        <%= form_with url: search_articles_path, method: "get", local: true, class: "relative flex pb-6 border-b" do |f| %>
            <%= f.text_field :value, class: "rounded h-7 w-full px-2 py-4 mr-2 text-sm text-gray-700 shadow-inner border", placeholder: "キーワードを入力", value: params[:value] %>
            <%= f.submit "検索", class: "border rounded bg-qiita bg-qiita-h text-white text-xs pl-8 pr-4", style: "width: 15%;" %>
            <i class="fa fa-search fa-sm absolute right-14 text-white ml-2 pl-1" style="top:10px;"></i>
        <% end %>
        <% if @articles.length > 0 %>
            <% @articles.each do |a| %>
                <div class="flex py-4 border-b">
                    <div>
                        <% if a.user.profile.icon == nil %>
                            <a href="<%= user_path(a.user) %>">
                                <i class="fas fa-user text-gray-600 rounded-full bg-gray-200 flex justify-center items-center w-8 h-8 mr-2"></i>
                            </a>
                        <% else %>
                            <a href="<%= user_path(a.user) %>">
                                <img src="<%= a.user.profile.icon %>" class="w-8 h-8 object-cover rounded-full inline-block mr-2">
                            </a>
                        <% end %>
                    </div>
                    <div style="width: calc(100% - 66px);">
                        <div class="flex justify-between text-xs text-gray-400" style="margin-bottom: 2px;">
                            <div>
                                <a class="hover:underline" href="<%= user_path(a.user) %>"><%= a.user.name %></a>が<%= a.created_at.strftime('%Y年%m月%d日') %>に投稿
                            </div>
                            <div>
                                <span class="font-extrabold cursor-default mr-1 <%= "text-qiita" if user_signed_in? && Lgtm.find_by(article_id: a.id, user_id: current_user.id) %>">LGTM</span>
                                <span><%= Lgtm.where(article_id: a.id).count %></span>
                            </div>
                        </div>
                        <div>
                            <div>
                                <a class="hover:underline" href="<%= article_path(a) %>"><%= a.title %></a>
                            </div>
                            <div>
                                <% a.tag_articles.ids.each do |t| %>
                                    <%= link_to tag_search_articles_path(value: Tag.find(TagArticle.find(t).tag_id).name), class: "text-xs text-gray-600 hover:text-gray-900 px-1 bg-gray-200 hover:bg-gray-400 rounded mr-1", turbolinks: false do %>
                                        <%= Tag.find(TagArticle.find(t).tag_id).name %>
                                    <% end %>
                                <% end %>
                            </div>
                            <div class="text-sm text-gray-400">
                                <%= a.body.first(80) %>
                                <% if a.body.length >= 80 %>...<% end %>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        <% else %>
            <div class="mt-6">
                <div class="flex justify-center text-3xl"><i class="far fa-frown mb-2 text-gray-500"></i></div>
                <div class="text-sm flex justify-center">「<%= params[:value]  %>」に一致する記事は見つかりませんでした。</div>
            </div>
        <% end %>
    </div>
    <%= render "layouts/advertisement" %>
</div>